nav {
    ul{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        padding: 0;
      
        a {
            text-decoration: none;
            width: 33.33%;
            text-align: center;
            color: $teal;
            
            &:hover {
                background-color: $ltteal;
                color: $ltwhite;
            }
            
            &:active {
                background-color: $medgrey;
                color: $ltwhite;
                
            }
        }
    }
    
}

